th{
    width: 180px;
}

.row{
    margin-left: 0;
    margin-right: 0;
}
.pagination .left{
    span{
        display: inline-block
    }
    span:nth-child(2){
        width: 50px;
        margin: 0 5px;
        
    }
}